@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

*{
    max-width: 100%;
    background-color: #020228;
    color: white;
}

.fonte1{
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size: 12px;
}

.fonte2{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.transp {
    background-color: transparent;
}

.btn, .btn2, .btn3 {
    cursor: pointer;
}

.test{
    padding-left: 200px;
}

  /* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background:  #b535f6;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#ff00e5;
  }

/*NAVEGAÇÃO*/
nav {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

nav img{
    width: 160px;
}

.navegacao {
    display: flex;
    gap: 25px; 
}

.navegacao a, .btn {
    text-transform: uppercase;
    text-decoration: none;
    align-content: center;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.btn {
    width: 162px;
    height: 30px;
    background-color: #b535f6;
    border-radius: 500px;
    border: none;
    margin-right: 70px;
}

.btn:hover{
    background-color: white;
    color:#020228;
    transition: 1s;
}

/*CABEÇALHO*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e); 
    flex-direction: column;
    gap: 40px;
    padding: 100px 0 300px;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite alternate;
}

#industrias-audiovisual {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: transparent;
}

#texto-cabecalho {
    text-transform: uppercase;
    text-align: center;
}

#texto1 {
    font-size: 32px;
}

#texto2 {
    padding-top: 10px;
    font-size: 48px;
    font-weight: bolder;
}

#line {
    width: 70%;
    height: 5px;
    max-width: 700px;
    background: linear-gradient( 90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
}

#value{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.btn2{
    font-size: 1em;
    padding: 16px 40px;
    background: linear-gradient( 45deg, #9b34ef 0%, #490cb0 40%, transparent 100% );
    border-radius: 500px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin-top: 10px;

    animation: wiggle 2s linear infinite;
}

header a:hover {
    background: transparent;
    transition: 0.5s;
    border: 2px solid #ff00e5;
}

.obs {
    font-size: 1rem;
    font-weight: lighter;
}

/*MAIN*/
/*Section 1*/
#planos{
    background-image:url('../images/background-movies-series.png');
    width: 100%;
    height: auto;
    min-height: 900px;
    background-size:cover;
}

#planos h1, #canais h1{
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding: 48px;
}

.container{
    display: flex;
    gap: 80px;
    justify-content: center;
    perspective: 2000px;
}

.card1, .card2 {
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    background:  linear-gradient(0deg, transparent, #3b1e63);
    width: 400px;
    min-height: 520px;
    border-radius: 8px;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
}

#planos:has(.card1:hover)
  .card2 {
  transform: rotateY(-40deg);
}

#planos:has(.card2:hover)
  .card1 {
  transform: rotateY(40deg);
}

.card-content {
    flex-grow: 1;
}

.titulo-card{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
}

.titulo-card p{
    font-size: 1.3em;
    color: #ff00e5;;
}

.lista li{
    font-size: 1.25rem;
    margin: 20px 0;
    background-color: transparent;
}

li::before {
    content: "+"; 
    padding-right: 8px;
    font-size: 2rem;
  }

  .btn3{
    padding: 18px 40px;
    background: linear-gradient( 45deg, #9b34ef 0%, #490cb0 40%, transparent 100% );
    border-radius: 500px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 13px;
    align-self: center;
}

/*Section 2*/

#canais {
    margin-top: 80px;
    padding: 24px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 0 10%;
}

.card{
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
}

/*Footer*/
footer{
    margin-top: 70px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    text-align: center;
}

.links-footer a{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #9e86ff;
    text-decoration: none;
    margin: 0 14px;  
}

footer p{
    color: #9e86ff;
    margin: 16px 0;
    font-size: 12px;
    font-weight: lighter;
}

.redes-sociais{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top: 70px;
}

/*Animações*/

@keyframes wiggle{
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-15deg);
    }
    15% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
