
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

*{
    background-color: #020228;
    color: white;
}

.fonte1{
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size: 12px;
}

.fonte2{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.transp {
    background-color: transparent;
}

.test{
    padding-left: 200px;
}

  /* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background:  #b535f6;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#ff00e5;
  }

/*NAVEGAÇÃO*/
nav {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

nav img{
    width: 160px;
}

.navegacao {
    display: flex;
    gap: 25px; 
}

.navegacao a, .btn {
    text-transform: uppercase;
    text-decoration: none;
    align-content: center;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.btn {
    width: 162px;
    height: 30px;
    background-color: #b535f6;
    border-radius: 500px;
    border: none;
    margin-right: 70px;
}

.btn2{
    font-size: 1em;
    padding: 16px 40px;
    background: linear-gradient( 45deg, #9b34ef 0%, #490cb0 40%, transparent 100% );
    border-radius: 500px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin-top: 10px;
}

/*CABEÇALHO*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e); 
    flex-direction: column;
    gap: 40px;
    padding: 100px 0 300px;
}

#industrias-audiovisual {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: transparent;
}

#texto-cabecalho {
    text-transform: uppercase;
    text-align: center;
}

#texto1 {
    font-size: 32px;
}

#texto2 {
    padding-top: 10px;
    font-size: 48px;
    font-weight: bolder;
}

#line {
    width: 70%;
    height: 5px;
    max-width: 700px;
    background: linear-gradient( 90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
}


#value{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.obs {
    font-size: 1rem;
    font-weight: lighter;
}

/*MAIN*/

#planos{
    background-image:url('../images/background-movies-series.png');
    width: 100%;
    height: 700px;
    background-size:cover;
}

#planos h1{
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding: 48px;
}

.container{
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card1, .card2 {
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    border: 4 solid white;
    background:  linear-gradient(0deg, transparent, #3b1e63);
    width: 400px;
    min-height: 600px;
   border-radius: 8px;
}

.titulo-card{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
}

.titulo-card p{
    font-size: 1.3em;
    color: #ff00e5;;
}

.lista li{
    font-size: 1.25rem;
    margin: 20px 0;
    background-color: transparent;
}

li::before {
    content: "+"; /* Insert content that looks like bullets */
    padding-right: 8px;
    font-size: 2rem;
  }

  .btn3{
    padding: 18px 40px;
    background: linear-gradient( 45deg, #9b34ef 0%, #490cb0 40%, transparent 100% );
    border-radius: 500px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3em;
    
    font-size: 13px;
}